.btn {
    padding: 0.5rem 1rem;
    border-radius: var(--radius-sm);
    font-family: var(--font-sans);
    transition: all 0.2s;
    font-weight: 500;
}

.btn--icon {
    padding: 0.5rem;
    font-size: 1.5rem;
}

.btn--icon:hover {
    color: var(--text-main);
}


